[submodule "projects/sglang"]
	path = projects/sglang
	url = https://github.com/lgyStoic/sglang.git
	branch = codex/qwen-image-edit-batching
[submodule "projects/sglang-omni"]
	path = projects/sglang-omni
	url = https://github.com/lgyStoic/sglang-omni.git
	branch = main
